body {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
}
.logo {
    font-size: 2em;
    color: black;
    font-weight: bold;
    background-color: cadetblue;
    text-align: center;
    display: block;
    
    
}
.main-class {
    display: block;

}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5vh;

    

}
.details-image {
width: 50vw;
height: 70vw;
border-radius: 25%;
border: solid 1px black;
    

}
.details-title {
    display: block; text-align: center;
    font-size: 1.5em;
    font-family: Georgia, serif;
    color: red;
    

}
.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 24vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0%;

}
.thumbnails-item {
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    margin-top: 2vh;
    padding: 0;
    border-radius: 25%;
    border: solid 1px black;
    
    
    
    

}
.thumbnails-anchor {
    text-decoration: none;
    

}
.thumbnails-image {
   width: 20vw;
   height: 30vw;
   display: block;
   padding: 0;
   
   

   

}
.thumbnails-title {
    display: block; 
    text-align: center;
    height: 5vw;
    background-color: black;
    font-weight: bold;
    
}
