@font-face {
   font-family: lakeshore;
   src: url("fonts/LAKESHOR-webfont.svg");
   src: url("fonts/LAKESHOR-webfont.woff")
}

@font-face {
   font-family: airstream;
   src: url("fonts/Airstream-webfont.svg");
   src: url("fonts/Airstream-webfont.woff")
}

@font-face {
   font-family: CS Grimrock;
   src: url("fonts/CS\ Grimrock.ttf");
}

:root {
   --thumbnails-img-width: 18vw;
   --thumbnails-img-height: 15vw;
   --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33)
}

body,
html {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
   background-color: rgb(48, 45, 45);

   margin: 0;

}

.logo {
   font-size: 2em;
   background-color: rgb(250, 54, 54);
   display: block;
   text-align: center;
   font-family: CS Grimrock;
   letter-spacing: 5px;

}

.main-class {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-grow: 1;
}
.main-class.hidden {
   --thumbnails-img-width: 27vw;
   --thumbnails-img-height: 26vw;
   --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33)
}

.details-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 10vh;
   position: relative;

}
.hidden .details-container {
   display: none;
}

.details-image {
   width: 50vw;
   height: 70vw;



}

.details-title {
   display: block;
   font-family: CS Grimrock;
   font-style: italic;
   color: aliceblue;
   position: absolute;
   right: 5vw;
   bottom: 0vw;



}

.thumbnails-list {
   list-style: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-height: 25vh;
   overflow-y: auto;
   justify-content: space-around;
   padding-left: 0;

}
.hidden .thumbnails-list {
   max-height: 58vh;
}

.thumbnails-item {
   max-width: var(--thumbnails-img-width);
   min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
   margin-top: 2.5vh;
   border: solid 1px black;
   border-radius: 25%;
   overflow: hidden;
   box-shadow: 1px 1px 1px red;
}

.thumbnails-image {
   width: var(--thumbnails-img-width);
   height: var(--thumbnails-img-height);
   display: block;
}

.details-frame {
   position: relative;
}
.hide-button {
   position: absolute;
   top: 2vh;
   right: 2vw;
   background-color: #fc4545;
   border: none;
   color: white;
   padding: 6px 14px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   margin: 4px 2px;
   cursor: pointer;
}

.thumbnails-title {
   display: block;
   text-align: center;
   height: var(--thumbnails-title-height);
   background-color: beige;
}

.thumbnails-anchor {
   text-decoration: none;
}

.thumbnails-item:hover {
   transform: scale(1.1);
   margin-left: 1vw;
}

@media(min-width: 560px) {
   :root {
      --thumbnails-img-width: 8vw;
      --thumbnails-img-height: 8vw;
      --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
   }

   .logo {
      font-size: 1.8em;
   }

   .thumbnails-list {
      flex-direction: column;
      flex-wrap: nowrap;
      max-height: 75vh;
      order: -1;
      justify-content: flex-start;
      padding-right: 2vw;
   }
   .hidden .thumbnails-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      
   }

   .main-class {
      flex-direction: row;
      justify-content: space-around;

   }
   .hidden.main-class {
      --thumbnails-img-width: 11vw;
      --thumbnails-img-height: 10vw;
      --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
  }

   .details-image {
      width: 25vw;
      height: 35vw;

   }


   .details-container {
      justify-content: center;
      align-items: center;
  
   }

   .details-title {
      left: 5vw;
      bottom: 0vw;
   }

   @media (min-width: 900px) {

 
      .thumbnails-list {
         padding-right: 2vw;
         margin-top: 2.5vh;
         max-height: 86vh;
      }
      .hidden .thumbnails-list {
         max-height: 80vh;
         margin-top: 3vh;
      }

      .thumbnails-title {
         font-size: 1em;
      }

      .details-container {
         margin-top: 5vh;
         margin-right: 5vw;
      }



      .details-title {
         font-size: 1.5em;
         bottom: 0vw;
         left: 7vw;
      }

      .details-image {
         width: 25vw;
         height: 35vw;
      }

   }


}